@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kaisei Decol";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/kaisei-decol/KaiseiDecol-Regular.ttf") format("truetype"),
    url("./assets/fonts/kaisei-decol/KaiseiDecol-Bold.woff2") format("woff2"),
  }
}




/* ✅ Custom global styles (reset) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

/* ✅ Custom utility for main app container */
.App-Main-Container {
  width: 100%;
}
