@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Zoom In/Out Animation for Shop For Cards */
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.zoom-animation:hover img {
  animation: zoomInOut 1.5s ease-in-out infinite;
}